@model IEnumerable<CSharpSecaoDezoito.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2><img src="https://img.icons8.com/color/48/000000/c-sharp-logo-2.png"/>Departments</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
       <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
       </tr>
    </thead>
    <tbody>
@foreach(var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modalItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modalItem => item.Name)
        </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </td>    
    </tr>
}
    </tbody>
</table>