@model IEnumerable<CSharpSecaoDezoito.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2><img src="https://img.icons8.com/color/48/000000/c-sharp-logo-2.png"/>Departments</h2>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model)
{
        <tr class="table-info">
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td scope="row">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>